* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../image/hero-bg.jpg") center center / cover no-repeat;
  position: relative;
}

#hero::before {
  content: "";
  background: rgba(0, 0, 0, 0.7); 
  position: absolute;
  inset: 0;
  z-index: 1;
}

#hero .container {
  position: relative;
  z-index: 2;
}

/* Navbar */
.navbar {
  background: transparent;
  z-index: 3;
  transition: background 0.4s;
}
.navbar .nav-link {
  color: #fff !important;
  font-size: 16px;
}

/* Scroll */
.navbar.scrolled {
  background-color: rgba(8, 8, 8, 0.8) !important; 
}
.nav-link.active {
  border-bottom: 2px solid #ff004f;
  padding-bottom: 4px;
}

/* Dropdown */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
}

/* Button */
.btn-get-started {
  font-size: 14px;
  padding: 8px 40px;
  border-radius: 50px;
  border: 1px solid #b1afaf;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.btn-get-started:hover {
  background:#e43c5c;
  border-color: #fdfdfc;
  color: #000;
}
.textHome
{
    font-size:40px;
  
}
.description
{
    padding: 12px 20px;

}
.feature-box h5:hover {
  color: #dc3545; 
  cursor: pointer;
}
.aboutButton
{
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid #f8f3f3;
  background: #f5e6eb;
  font-size: 12.4px;
  
}
.about{
  padding-top: 60px;
  padding-bottom: 20px;
  color: #494949;
}
.textaboute
{
  color: #494949;

}
.left
{
  padding-left: 120px;
}
.right
{
  padding-right: 50px;

}
.textright:hover {
  
  color:#e43c5c;
  cursor: pointer;
}
.learnfont
{
  color: #494949;
}
.bodyservices
{
  padding-left: 80px;
  padding-right: 80px;
  
}
.topcard
{
  padding-bottom: 40px;

  
}

.Bottomservices {
  border: 1px solid #ddd;
}

.Bottomservices:hover {
  cursor: pointer;
  border: 1px solid #e43c5c;  
  color: rgb(228, 60, 92);   
             
}
.topcard .card {
  position: relative;
  overflow: hidden; /* مهم عشان الأنيميشن متطلعش برا */
  transition: color 0.3s ease;

  border-top: 2px solid #bbb; 
border: 1px solid #ddd;   /* لون الحدود رمادي فاتح */
  border-radius: 0;    

}

/* النص والأيقونات في الوضع العادي */
.topcard .card h5,
.topcard .card p,
.topcard .card i {
  transition: color 0.3s ease;
}

/* الخلفية الزهرية تطلع من تحت */
.topcard .card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%; /* مختفية تحت */
  width: 100%;
  height: 100%;
  background-color: rgba(228, 60, 92, 0.95);
  z-index: 0;
  transition: bottom 0.4s ease; /* الحركة */
}

/* لما تقف hover */
.topcard:hover .card::before {
  bottom: 0; /* تطلع لفوق */
}

/* نخلي النص والأيقونة أبيض وقت hover */
.topcard:hover .card h5,
.topcard:hover .card p,
.topcard:hover .card i {
  color: #fff !important;
}

/* نخلي المحتوى فوق الخلفية */
.topcard .card * {
  position: relative;
  z-index: 1;
}


.call-to-action {
  position: relative;
  height: 50vh;
  margin-top: 50px;
 
}

.call-to-action .content {
  position: relative;
  z-index: 2;
  
}

.call-to-action::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}




/* Button */
.btn-outline-light {
  font-size: 16px;
  padding: 10px 40px;
  border-radius: 50px;
  border: 2px solid #eeecec;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.btn-outline-light:hover {
  background:#e43c5c;
  border-color: #fdfdfc;
  color: #000;
}
.portfolio {
  padding: 80px 100px;   /* مسافات من فوق وتحت كمان */
  position: relative;    /* يخلي السكشن ياخد مكانه الطبيعي */
  z-index: 1;
}

.portfolio-item {
  margin-bottom: 1rem;
  text-align: center;
  display: none;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.btn-filter {
  color: #050505;
  border: none;
  padding: 0.4rem 1rem;
  margin-right: 0.5rem;
  border-radius: 30px;
}

.btn-filter:hover {
  background-color: #e43c5c;
  color: white;
}

.btn-filter.active {
  background-color: #e43c5c;
  color: white;
}

.portfolio-item.show {
  display: block;
}

/* لو في فلترة (غير All) */
.filtered #portfolio-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* كل عنصر في grid */
.filtered #portfolio-row .portfolio-item.show {
  flex: 0 0 calc(33.333% - 15px);
  
}

.portfolio-wrap {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.portfolio-wrap img {
  width: 100%;
  display: block;
}

/* الشريط اللي بيظهر */
.portfolio-info {
  background: rgb(255, 253, 253);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  position: absolute;   /* يفضل مطلعش من الصورة */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

/* يظهر عند hover */
.portfolio-wrap:hover .portfolio-info {
  transform: translateY(0);
}

.portfolio-info a i:hover {
  color: #e43c5c;
}

.card-body {
  padding: 120px 90px;
}
.featured {
  position: relative;
  top: -15px; /* يطلع الكارت لفوق */
  z-index: 2;
  transform: scale(1.1); /* يكبره سنة صغيرة */
  border-width: 2px !important; /* يوضح البوردر الأحمر */
}


